---
import Saludo from '../components/inicio.astro';
import Layout from '../layouts/Layout.astro';
import SobreMi from '../components/SobreMi.astro';
import Experiencia from '../components/Experiencia.astro';
import ProyectosDestacados from '../components/ProyectosDestacados.astro';
import Habilidades from '../components/Habilidades.astro';
import Contacto from '../components/Contacto.astro';
import Footer from '../components/Footer.astro';

import { skills } from '../content/data/db';

---

<Layout>


    <Saludo/>
	<SobreMi />
	<section id="habilidades" class="relative isolate"></section>
  		<div class="mx-auto max-w-6xl px-4 sm:px-6 lg:px-8 py-16 sm:py-20">
			    <h2 class="text-center text-4xl sm:text-5xl font-semibold tracking-tight text-neutral-900">
      				Habilidades
    			</h2>
			<Habilidades 
				skills={skills}
			/>
  		</div>
	</section>

	<Experiencia />
	<ProyectosDestacados />
	<Contacto />
	<Footer />
</Layout>
